<h1>
  Powerbeer
</h1>

<p>
  <%= link_to "Log a drink", new_drink_path, :class => 'button' %>
</p>

<p class="meta">
  You are logged in as <b><%= current_user.name %></b>. 
  
  <% if current_user.drinks.any? %>
    You have drunk <b><%= current_user.drinks.count %></b> beers by <b><%= current_user.drinks_brewery_count %></b> different breweries. You have drunk <b><%= current_user.drinks_volume_sum %>mL</b> of beer, and have probably consumed about <b><%= "%0.1f" % current_user.standard_drinks %></b> standard drinks.
  <% else %>
    <%= render :partial => 'app_meta' %>
  <% end %>
</p>

<% if drink = current_user.drinks.last %>
  <h3 class="seperator">
    Your last drink:
  </h3>

  <%= render :partial => 'drinks/show', :locals => {:drink => drink, :show_drink_details => true} %>
<% end %>

<h3 class="seperator">
  Top ranked beers
</h3>

<%= render :partial => 'beers/show', :collection => Beer.top(5), :as => :beer %>

<%= link_to "See them all", beers_path %>

<h3 class="seperator">
  Leaderboard
</h3>

<table>
  <tr>
    <th>User</th>
    <th>Std. Drinks</th>
    <th>Taste</th>
  </tr>
<% User.all.sort_by(&:standard_drinks).reverse.each do |user| %>
  <tr>
    <td><%= link_to user.name, user %></td>
    <td><%= "%0.1f" % user.standard_drinks %></td>
    <td><%= number_to_percentage(user.taste * 100) %></td>
  </tr>
<% end %>
</table>

<br />

<% if current_user.drinks.any? %>
  <p class="meta">
    <%= render :partial => 'app_meta' %>
  </p>
<% end %>
