<h1>
  Festival
</h1>

<p>
  <%= link_to "Log a drink", new_drink_path, :class => 'button' %>
</p>

<!-- <p>
<a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out all the beers I have drunk" data-hashtags="beervana" data-url="<%= user_url(current_user) %>" data-related="beerpowernz" data-lang="en" data-size="medium" data-count="none">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</p> -->

<p class="meta">
  You are logged in as <b><%= current_user.name %></b>. 
  
  <% if current_user.drinks.any? %>
    You have drunk <b><%= current_user.drinks.count %></b> beers by <b><%= current_user.drinks_brewery_count %></b> different breweries. You have drunk <b><%= current_user.drinks_volume_sum %>mL</b> of beer and roughly <b><%= "%0.1f" % current_user.standard_drinks %></b> standard drinks.
  <% else %>
    <%= render :partial => 'app_meta' %>
  <% end %>
</p>

<% if drink = current_user.drinks.last %>
  <h3 class="seperator">
    <%= link_to "Your last drink", current_user %>
  </h3>

  <%= render :partial => 'drinks/show', :locals => {:drink => drink, :show_drink_details => true} %>
<% end %>

<h3 class="seperator">
  <%= link_to "Most popular beers", beers_path %>
</h3>

<%= render :partial => 'beers/show', :collection => Beer.top(5), :as => :beer %>

<h3 class="seperator">
  Recent drinks
</h3>

<%= render :partial => "drinks/show", :collection => Drink.order('created_at desc').limit(20), :as => :drink, :locals => {:show_drink_details => true} %>

<br />

<% if current_user.drinks.any? %>
  <p class="meta">
    <%= render :partial => 'app_meta' %>
  </p>
<% end %>
