<div class="drink inline-drink">
    <b class="rating" style="background-color: rgba(255,192,0,<%= drink.rating / 5.0 %>)"><%= drink.rating %></b>
  <% if show_drink_details %>
    <h4><%= link_to drink.beer.name, drink.beer %></h4>
    <span class="brewery"><%= drink.beer.brewery.name %></span>
  <% end %>
  <p class="meta"><%= link_to friendly_username(drink, current_user), drink.user, :style => 'text-decoration: underline' %> drunk <b><%= drink.volume %>ml</b> of this <b><%= drink.beer.friendly_abv %></b> beer <%= time_ago_in_words drink.created_at %> ago.</p>
  <p class="notes"><%= drink.notes %></p>
</div>
