<h1>
  <%= link_to "Home", root_path, :class => 'button left' %>
  Beers
</h1>

<p>
  <%= link_to "Log a drink", new_drink_path, :class => 'button' %>
</p>

<p>
  There are <b><%= Beer.count %></b> beers from <b><%= Brewery.count %></b> breweries to try.
</p>

<center>
  <%= link_to 'Alphabetical', beers_path(:sort_by => :name) %> | 
  <%= link_to 'Most Popular', beers_path(:sort_by => :popular) %> | 
  <%= link_to 'ABV', beers_path(:sort_by => :abv) %>
</center>

<br />

<table class="beer-list">  
  <tr>
    <th>Beer</th>
    <th>Drinkers</th>
    <th>ABV</th>
    <th>Rating</th>
  </tr>
<% @beers.each do |beer| %>
  <tr>
    <td>
      <span class="beer-name"><%= link_to beer.name, beer %></span><br />
      <span class="brewery-name small"><%= beer.brewery.name %></span>
    </td>
    <td class="value">
      <%= beer.drinks_count %>
    </td>
    <td class="value">
      <%= beer.friendly_abv %>
    </td>
    <td class="value">
      <%= beer.friendly_rating %>
    </td>
  </tr>
<% end %>
</table>
